<a href="https://colab.research.google.com/github/aalnunes/DNC--DEX02/blob/main/C%C3%B3pia_de_Loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


![images.png]()</b> <br>Consultor: Peterson Almeida <br>



<h1> Loop </h1>

<b> Geral:</b><br>
Loop é uma estrutura de repetição, onde o bloco de código dentro dessa estrutura executa os comandos até a condição do Loop ser False.
<br> <br>

>Essa nova função nos ajudará resolver o desafio da tarefa anterior de forma mais eficiente e contínua. Para quem não conhece essa estrutura, a prática é essencial para absorver seu funcionamento.

## Existem duas principais estruturas para criação de Loops, sendo elas:<br> 

<b>For:</b> *bloco menor e mais utilizado em python*<br>
<b>While:</b> *bloco maior, utilizado mais em casos específicos*<br>

In [ ]:
# a estrutura while tem funcionamento parecido com o for mas com sintaxe um pouco maior
#para um bloco executar 10x
contador = 0
while contador <10:
  print(contador)
  contador+=1

0
1
2
3
4
5
6
7
8
9

In [ ]:
#mesmo código acima com for
for a in range(10):
  print(a)

0
1
2
3
4
5
6
7
8
9

In [ ]:
#executando loop enquanto x é menor que y
x=10
y=20
while x < y:
  x=x+3
  y=y+1
  print(x,y)

13 21
16 22
19 23
22 24
25 25

In [ ]:
#percorrendo uma lista com for
lista=['oi',7,'15',22,33.5]
for a in lista:
  print(a)

oi
7
15
22
33.5

In [ ]:
#resolvendo o desafio aula anterior
tupla=(1,2,3,4,5,6,7,8,9,10)
for a in lista:
  if a in tupla:
    print(a,' tem na tupla')

7  tem na tupla

In [ ]:
#é possível parar o comando for assim que encontrar o item desejado utilizando o break
for a in lista:
  if type(a)==int:
    print(a,' = inteiro encontrado')
    break

7  = inteiro encontrado

In [ ]:
#percorrendo a lista e printando o type de cada váriavel se estiverem nas condicionais
for a in lista:
  if type(a)==int:
    print(a,'= inteiro')
  elif type(a)==str:
    print(a,'= string')
  elif type(a)==float:
    print(a,'= float')
  else:
    print('tipo nao listado')

oi = string
7 = inteiro
15 = string
22 = inteiro
33.5 = float

In [ ]:
#criando uma lista com range até 100
lista_2 = []
for a in range(100):
  lista_2.append(a)
lista_2

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

<h1>Exercícios:<h1>

1. Crie uma lista contendo os números pares de 0 até 1000

In [ ]:
pares = []

for a in range(0,101,2):
  pares.append(a)
  
print(pares)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

2. Transforme cada valor da lista anterior em um string.

In [ ]:
novos = str(pares)
print(novos)
type(novos)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

str

3. Compare os valores entre as listas e some os valores das 2 listas.

In [ ]:

for a in pares:
  if a in pares and novos:
    soma = a + a 
print (soma )

200

4. Crie um for para reproduzir a [sequência de Fibonacci](https://www.coc.com.br/blog/soualuno/matematica/o-que-e-a-sequencia-de-fibonacci#:~:text=A%20sequ%C3%AAncia%20de%20Fibonacci%20%C3%A9,no%20final%20do%20s%C3%A9culo%2012.&text=Desde%20que%20nenhum%20coelho%20morra,os%20n%C3%BAmeros%200%20e%201.).

In [19]:
a = 0
b = 1
soma = 1
  
for x in range(30):
  print(a)
  soma = b + a
  a = b
  b = soma

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229

5. Crie um for que execute até aparecer a palavra "parar".

In [30]:
palavras=['continue','ok','segue','opa,','quase','parar',':)']

for x in palavras:
  print(x)
  if x =='parar':
    break

continue
ok
segue
opa,
quase
parar

<h1> Loop 2</h1>

Nessa aula vamos aprender utilizar o Loop com algumas funções novas.

*   <b>Enumerate:</b> função para enumerar cada iteração.
*   <b>Zip:</b> Agrupa duas ou mais iteções simultâneas.



<h2> Exemplos:</h2>

In [ ]:
#criando uma lista e percorrendo ela no for com enumerate printando a e b
lista = ['oi',5,'tchau',10]
for a,b in enumerate(lista):
  print(a,b)

0 oi
1 5
2 tchau
3 10

In [ ]:
#criando uma tupla e percorrendo ela e a lista com zip printando os 2 valores
tupla = ('oi',5,'tchau',20)

for a,b in zip(lista, tupla):
  print(a,b)

oi oi
5 5
tchau tchau
10 20

In [ ]:
#é possível começar o range de outro ponto que não o 0
for a in range(2,10):
  print(a)

2
3
4
5
6
7
8
9

In [ ]:
#e também ir somando mais de +1 por repetição do for
for a in range(3,21,3):
  print(a)

3
6
9
12
15
18

In [ ]:
#podemos utilizar o else no for diretamente sem o if
for a in range(5):
  print(a)
else:
  print('próximo número passou do range')

0
1
2
3
4
próximo número passou do range

In [ ]:
#percorrendo uma string com o for
texto = 'vou fazer todos os exercícios'
for a in texto:
  print(a)

v
o
u

f
a
z
e
r

t
o
d
o
s

o
s

e
x
e
r
c
í
c
i
o
s

In [ ]:
#atribuindo o split da string a uma nova variável e printando o resultado 
texto_2=texto.split()
texto_2

['vou', 'fazer', 'todos', 'os', 'exercícios']

In [ ]:
#deixando a primeira letra de cada palavra maiúscula
for a in texto_2:
  print(a[0].upper()+a[1:])

Vou
Fazer
Todos
Os
Exercícios

In [ ]:
#for aninhado percorrendo a lista
for a in texto_2:
  for b in texto_2:
    print(a,b)

vou vou
vou fazer
vou todos
vou os
vou exercícios
fazer vou
fazer fazer
fazer todos
fazer os
fazer exercícios
todos vou
todos fazer
todos todos
todos os
todos exercícios
os vou
os fazer
os todos
os os
os exercícios
exercícios vou
exercícios fazer
exercícios todos
exercícios os
exercícios exercícios

In [ ]:
#for aninhado printando uma tabuada
for a in range(10):
  for b in range(10):
    print(a,' x ',b,' = ',a*b)

0  x  0  =  0
0  x  1  =  0
0  x  2  =  0
0  x  3  =  0
0  x  4  =  0
0  x  5  =  0
0  x  6  =  0
0  x  7  =  0
0  x  8  =  0
0  x  9  =  0
1  x  0  =  0
1  x  1  =  1
1  x  2  =  2
1  x  3  =  3
1  x  4  =  4
1  x  5  =  5
1  x  6  =  6
1  x  7  =  7
1  x  8  =  8
1  x  9  =  9
2  x  0  =  0
2  x  1  =  2
2  x  2  =  4
2  x  3  =  6
2  x  4  =  8
2  x  5  =  10
2  x  6  =  12
2  x  7  =  14
2  x  8  =  16
2  x  9  =  18
3  x  0  =  0
3  x  1  =  3
3  x  2  =  6
3  x  3  =  9
3  x  4  =  12
3  x  5  =  15
3  x  6  =  18
3  x  7  =  21
3  x  8  =  24
3  x  9  =  27
4  x  0  =  0
4  x  1  =  4
4  x  2  =  8
4  x  3  =  12
4  x  4  =  16
4  x  5  =  20
4  x  6  =  24
4  x  7  =  28
4  x  8  =  32
4  x  9  =  36
5  x  0  =  0
5  x  1  =  5
5  x  2  =  10
5  x  3  =  15
5  x  4  =  20
5  x  5  =  25
5  x  6  =  30
5  x  7  =  35
5  x  8  =  40
5  x  9  =  45
6  x  0  =  0
6  x  1  =  6
6  x  2  =  12
6  x  3  =  18
6  x  4  =  24
6  x  5  =  30
6  x  6  =  36
6  x  7  =  42
6  x  8  =  48
6  x  9  =  54
7  x  0  =  0
7  x  1  =  7
7  x  2  =  14
7  x  3  =  21
7  x  4  =  28
7  x  5  =  35
7  x  6  =  42
7  x  7  =  49
7  x  8  =  56
7  x  9  =  63
8  x  0  =  0
8  x  1  =  8
8  x  2  =  16
8  x  3  =  24
8  x  4  =  32
8  x  5  =  40
8  x  6  =  48
8  x  7  =  56
8  x  8  =  64
8  x  9  =  72
9  x  0  =  0
9  x  1  =  9
9  x  2  =  18
9  x  3  =  27
9  x  4  =  36
9  x  5  =  45
9  x  6  =  54
9  x  7  =  63
9  x  8  =  72
9  x  9  =  81

<h1>Exercícios:<h1>

1. Crie um Loop que percorra uma string e coloque a posição de cada caracter contidaa nela.

In [37]:
nome = 'Alisson' ' Fernandes'

for a in enumerate(nome):
  print(a)

(0, 'A')
(1, 'l')
(2, 'i')
(3, 's')
(4, 's')
(5, 'o')
(6, 'n')
(7, ' ')
(8, 'F')
(9, 'e')
(10, 'r')
(11, 'n')
(12, 'a')
(13, 'n')
(14, 'd')
(15, 'e')
(16, 's')

2. Refaça o exercício 1 mas dessa vez pulando os espaços.

3. crie duas listas e percorra as duas no mesmo for, se elas tiverem tamanhos diferentes descreva o que acontece.

In [41]:
a = [0,1,33,55,44,32,15,21,664,16]
b = [0,1,33,55,44,32,15,21,664,16,34,34,44]

for x in a:
  for y in b:
    print(a,b)

# Quando os tamanhos da lista são diferentes o for printa o resultado percorrendo a maior lista

[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]
[0, 1, 33, 55, 44, 32, 15, 21, 664, 16] [0, 1, 33, 55, 44, 32, 15, 21, 664, 16, 34, 34, 44]

4. Faça a taboada feita em aula começando do número 9.

In [51]:
for a in range(9,10):
  for b in range(11):
    print(a,'x',b,'=',a*b)

9 x 0 = 0
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

<h1> Loop 3 <h1>

Nessa aula vamos aplicar o que aprendemos até aqui com um pouco mais de profundiade e tem tipo de variável nova na área.
*   **Dicionário:** váriavel com estrutura chave:valor, utilizado para armazenar valores e anexar eles em um índice de busca, esse índice (chave) não pode ser repetido enquanto os valores sim podem.

In [ ]:
#criando um dicionário e printando o valor da chave1
dicionario = {'chave1':'valor1','chave2':'valor2','chave3':3}
dicionario['chave3']

3

In [ ]:
#printando dicionário inteiro
dicionario

{'chave1': 'valor1', 'chave2': 'valor2', 'chave3': 3}

In [ ]:
#printando items do dicionário
dicionario.items()

dict_items([('chave1', 'valor1'), ('chave2', 'valor2'), ('chave3', 3)])

In [ ]:
#printando valores do dicionário
dicionario.values()

dict_values(['valor1', 'valor2', 3])

In [ ]:
#printando chaves do dicionario
dicionario.keys()

dict_keys(['chave1', 'chave2', 'chave3'])

In [ ]:
#percorrendo itens do dicionario com for
for a,b in dicionario.items():
  print(a,b)

chave1 valor1
chave2 valor2
chave3 3

In [ ]:
#criando duas listas
lista_1=[1,2,3,4,5]
lista_2=[5,4,3,2,1]
#convertendo o zip das 2 listas em dict e atribuindo a um segundo dicionário
dicionario_2=dict(zip(lista_1,lista_2))
dicionario_2

{1: 5, 2: 4, 3: 3, 4: 2, 5: 1}

In [ ]:
#criando um terceiro dicionario
dicionario_3={}
#criando uma lista de cores e outra de adjetivos
cor = ['azul','verde','cinza']
adj = ['legal','top','top']
#percorrendo a lista e atribuindo ao dicionário chave e valor pelo zip das listas corres e adjetivos
for a,b in zip(cor, adj):
  dicionario_3[a]=b
dicionario_3

{'azul': 'legal', 'cinza': 'top', 'verde': 'top'}

In [ ]:
#criando um dicionario com dados reais e com alguns valores em listas
dicionario_full = {'usuario':'Peter','lingua':'pt-br','pet':['cachorro_1','cachorro_2']}
dicionario_full

{'lingua': 'pt-br', 'pet': ['cachorro_1', 'cachorro_2'], 'usuario': 'Peter'}

In [ ]:
#printando cada campo do dicionário em formato de json
print('nome do usuario: ', dicionario_full['usuario'])
print('lingua nativa: ',dicionario_full['lingua'])
#printando len da lista (quantidade de valores)
print('qtd de pet: ', len(dicionario_full['pet']))

nome do usuario:  Peter
lingua nativa:  pt-br
qtd de pet:  2

In [ ]:
#criando lista de 3 dicionários com estruturas iguais aos de cima
lista_dicionario_full =[{'usuario':'Peter','lingua':'pt-br','pet':['cachorro_1','cachorro_2']},
                        {'usuario':'Peter2','lingua':'pt-br','pet':['cachorro_1','cachorro_2']},
                        {'usuario':'Peter3','lingua':'es-ar','pet':'cachorro_2'}]
lista_dicionario_full

[{'lingua': 'pt-br', 'pet': ['cachorro_1', 'cachorro_2'], 'usuario': 'Peter'},
 {'lingua': 'pt-br', 'pet': ['cachorro_1', 'cachorro_2'], 'usuario': 'Peter2'},
 {'lingua': 'es-ar', 'pet': 'cachorro_2', 'usuario': 'Peter3'}]

In [ ]:
#printando dicionario e verificando se o type é diferente de string (lista) para printar o len desse paramêtro 
#caso não printando qtd = 1
for a in lista_dicionario_full:
  print('nome do usuario: ', a['usuario'])
  print('lingua nativa: ',a['lingua'])
  if type(a['pet'])!= str:
    print('qtd de pet: ',  len(a['pet']))
  else:
    print('qtd de pet: ',1)

nome do usuario:  Peter
lingua nativa:  pt-br
qtd de pet:  2
nome do usuario:  Peter2
lingua nativa:  pt-br
qtd de pet:  2
nome do usuario:  Peter3
lingua nativa:  es-ar
qtd de pet:  1

In [ ]:
#percorrendo valores do dicionário com for
for a in dicionario_full.values():
  print(a)

Peter
pt-br
['cachorro_1', 'cachorro_2']

In [ ]:
#percorrendo valores do dicionário e verificando se o type de algum deles é list, se for, 
#criando um novo for e percorrendo até range(len(a)) os valores
for a in dicionario_full.values():
  if type(a)==str:
    print(a)
  if type(a)==list:
    for b in range(len(a)):
      print(a[b])

Peter
pt-br
cachorro_1
cachorro_2

In [ ]:
#criando estrutura com varios dicionarios
varios_dict = {
  "aluno" : {
    "name" : "fulano",
    "year" : 1985
  },
  "aluno2" : {
    "name" : "ciclano",
    "year" : 1999
  },
  "aluno3" : {
    "name" : "Linus",
    "year" : 2021
  }
}
#criando for para percorrer os items do dicionario
for a,b in varios_dict.items():
  print(a,b)

aluno {'name': 'fulano', 'year': 1985}
aluno2 {'name': 'ciclano', 'year': 1999}
aluno3 {'name': 'Linus', 'year': 2021}

In [ ]:
#percorrendo os items do dicionario com enumerate
for a,b in enumerate(varios_dict.items()):
  print(a,b)

0 ('aluno', {'name': 'fulano', 'year': 1985})
1 ('aluno2', {'name': 'ciclano', 'year': 1999})
2 ('aluno3', {'name': 'Linus', 'year': 2021})

In [ ]:
#percorrendo os items do dicionário com zip do enumerate
for a in zip(enumerate(varios_dict.items())):
  print(a)

((0, ('aluno', {'name': 'fulano', 'year': 1985})),)
((1, ('aluno2', {'name': 'ciclano', 'year': 1999})),)
((2, ('aluno3', {'name': 'Linus', 'year': 2021})),)

<h2> Dicas </h2>



> O Dicionário é o mesmo formato do arquivo Json, é bastante usado para trabalhar com dados semi-estruturados.

In [53]:
!wget https://raw.githubusercontent.com/LearnWebCode/json-example/master/animals-1.json

--2021-09-27 23:39:36--  https://raw.githubusercontent.com/LearnWebCode/json-example/master/animals-1.json
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 420 [text/plain]
Saving to: ‘animals-1.json’

animals-1.json      100%[===================>]     420  --.-KB/s    in 0s

2021-09-27 23:39:36 (20.8 MB/s) - ‘animals-1.json’ saved [420/420]

In [99]:
import json
with open('animals-1.json') as json_file:
    itemData = json.load(json_file)
itemData

[{'foods': {'dislikes': ['ham', 'zucchini'], 'likes': ['tuna', 'catnip']},
  'name': 'Meowsy',
  'species': 'cat'},
 {'foods': {'dislikes': ['tuna'], 'likes': ['bones', 'carrots']},
  'name': 'Barky',
  'species': 'dog'},
 {'foods': {'dislikes': ['cookies'], 'likes': ['mice']},
  'name': 'Purrpaws',
  'species': 'cat'}]

<h1>Exercícios:<h1>

1. Percorra cada pet no dicionário acima e imprima sua espécie.

In [134]:
for a in enumerate(itemData):
  print(a)

for b in itemData:
  print( 'Animal:', b['species'])

(0, {'name': 'Meowsy', 'species': 'cat', 'foods': {'likes': ['tuna', 'catnip'], 'dislikes': ['ham', 'zucchini']}})
(1, {'name': 'Barky', 'species': 'dog', 'foods': {'likes': ['bones', 'carrots'], 'dislikes': ['tuna']}})
(2, {'name': 'Purrpaws', 'species': 'cat', 'foods': {'likes': ['mice'], 'dislikes': ['cookies']}})
Animal: cat
Animal: dog
Animal: cat

2. Percorra cada pet no dicionário e imprima e pet com maior quantidade de dislikes.

In [140]:
animais =['cat', 'dog']

for a in animais and itemData:
  print('Especie:', a['dislikes'])

KeyError: ignored


3. Conte o total de comidas citadas no dicionário e quantas se repetem.